@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


.Card {
    width: 190px;
    height: 250px;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 #555155;
    padding: 8px;
    font-family: 'Lato', sans-serif;

    h3 {
        font-size: 14px;
        height: 15%;
        padding-bottom: 23px;
        border-bottom: 1px solid black;
    }

    img {
        margin-top: -26px;
        height: 200px;
    }

    &:hover {
        transform: scale(1.05);
    }

}