.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    min-width: 500px;
    width: 55%;
    max-height: 90%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 20%;
    top: 15%;
    box-sizing: border-box;
    border-radius: 10px;
}

.Cart {
    left: 35%;
    min-width: 150px;
    width: auto;
}
