.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.dialog {
  z-index: 100;
  position: fixed;
  top: 5vh;
  left: 7.5%;
  width: 85%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
}

@media (min-width: 768px) {
  .dialog {
    top: 17vh;
    left: calc(50% - 15rem);
    width: 30rem;
  }
}
