@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

.Header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 124, 17);
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.466);
    position: relative;

    .UIContainer {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 65%;
        height: inherit;
    }

    .CartIcon {
        min-width: 100px;
        height: 80%;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 24px;
        box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.295);
        background-color: #eee;
        border-radius: 5px;
    }

    h1 {
        font-family: 'Manjari', sans-serif;
        margin-top: 30px;
    }
}

.Cart {
    transform: translateX(500px);
}